
<app-uom-edit [uom]="uom"></app-uom-edit>        
<div class="uom-table">
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uom of uoms">
        <td>{{ uom.code }}</td>
        <td>{{ uom.description }}</td>
        <td><a href="uom/{{ uom.code }}">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="uom-cards">
  <div class="uom-card" *ngFor="let uom of uoms">
    <div class="uom-card-content">
      <p><strong>Code:</strong> {{ uom.code }}</p>
      <p><strong>Description:</strong> {{ uom.description }}</p>
      <a href="uom/{{ uom.code }}">Edit</a>
    </div>
  </div>
</div>